<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileClientServlet</servlet-name>
        <servlet-class>controller.ProfileClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComplaintServlet</servlet-name>
        <servlet-class>controller.ComplaintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContrcatHistoryServlet</servlet-name>
        <servlet-class>controller.ContractHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileClientServlet</servlet-name>
        <url-pattern>/ProfileClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplaintServlet</servlet-name>
        <url-pattern>/ComplaintServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContrcatHistoryServlet</servlet-name>
        <url-pattern>/ContrcatHistoryServlet</url-pattern>
    </servlet-mapping>
</web-app>
