<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>controller.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileClientServlet</servlet-name>
        <servlet-class>controller.ProfileClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileTechnicianServlet</servlet-name>
        <servlet-class>controller.ProfileTechnicianServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileAgentServlet</servlet-name>
        <servlet-class>controller.ProfileAgentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComplaintHistoryServlet</servlet-name>
        <servlet-class>controller.ComplaintHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileClientServlet</servlet-name>
        <url-pattern>/ProfileClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileTechnicianServlet</servlet-name>
        <url-pattern>/ProfileTechnicianServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileAgentServlet</servlet-name>
        <url-pattern>/ProfileAgentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplaintHistoryServlet</servlet-name>
        <url-pattern>/ComplaintHistoryServlet</url-pattern>
    </servlet-mapping>
</web-app>
